@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Prompt";
  src: url("./assets/fonts/Prompt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Prompt";
  src: url("./assets/fonts/Prompt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Prompt";
  src: url("./assets/fonts/Prompt-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Prompt";
  src: url("./assets/fonts/Prompt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Prompt";
  src: url("./assets/fonts/Prompt-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

body {
  @apply font-prompt;
}
